#header
    .container-fluid
        .navbar
            .navbar-header
                a.navbar-brand(href="index.html")
                    i.im-window8.text-logo-element.animated.bounceIn
                    span.text-logo SF
                    span.text-slogan project
            nav.top-nav(role="navigation")
                ul.nav.navbar-nav.pull-left
                    li#toggle-sidebar-li
                        a#toggle-sidebar(href="#")
                            i.en-arrow-left2
                    li
                        a.full-screen(href="#")
                            i.fa-fullscreen
                ul.nav.navbar-nav.pull-right
                    li
                        a(href="#")

                    li.dropdown
                        a(href="#",data-toggle="dropdown")
                            | 当前选取学校：
                            if schoolnow
                                |#{schoolnow.name}&nbsp;&nbsp;点击切换&nbsp;&nbsp;
                            else
                                | 未选取
                            i.ec-location
                            span.notification
                                if schoolhead
                                    | #{schoolhead.length}
                        ul.dropdown-menu(role="menu")
                            if schoolhead
                                each sch in schoolhead
                                    li
                                        a(href="/admin/school_change?sid=#{sch._id}&redirecturl=#{urlnow}")
                                            if sch.image
                                                img.user-avatar(src="/#{sch.image}",alt="#{userr.name}")
                                            else
                                                img.user-avatar(src="/images/avata_128.jpg",alt="#{userr.name}")
                                            | #{sch.name}
                    li.dropdown
                        a(href="#",data-toggle="dropdown")
                            if userr
                                img.user-avatar(src="/assets/img/avatars/48.jpg",alt="#{userr.name}")
                                | #{userr.name}
                        ul.dropdown-menu.right(role="menu")
                            li
                                a(href="profile.html")
                                    i.st-user
                                    | 我的资料
                            li
                                a(href="file.html")
                                    i.st-cloud
                                    | Files
                            li
                                a(href="#")
                                    i.st-settings
                                    | 设置
                            li
                                a(href="/admin/signout")
                                    i.im-exit
                                    | 退出登录