extends ../../layout

block content
    .content-wrapper
        .row
            .col-lg-12.heading
                ul#crumb.breadcrumb
                    li
                        i.im-home
                        a(href="/admin") 首页
                        i.en-arrow-right7
                    li
                        i.im-user4
                        a(href="/admin/grade/list") 班级列表
                        i.en-arrow-right7
                    li
                        i.en-user-add
                        a(href="#") #{action}班级
        .outlet
            .row
                .col-lg-12
                    .panel.panel-default.toggle
                        .panel-heading
                            h3.panel-title #{action}班级
                        .panel-body
                            form.form-horizontal.group-border.hover-stripped(role="form",id="validate",method="post",action="/admin/grade/new",enctype="multipart/form-data")
                                .form-group
                                    if grade&&grade._id
                                        input(type="hidden",value=grade._id,name="_id")
                                    label.col-lg-2.col-md-2.control-label 班级名称
                                    .col-lg-10.col-md-10
                                        input#name.form-control.required(type="text",placeholder="请输入班级名称...",value=grade.name,name="name")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 所属学校
                                    .col-lg-10.col-md-10
                                        input#school.form-control(type="text",value=school.name,disabled="disabled")
                                        input#hfdSchool(type="hidden",value=sid,name="sid")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 班主任
                                    .col-lg-10.col-md-10
                                        select.form-control(name="user")
                                            each user in users
                                                option(value=user._id)
                                                    | #{user.name}
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 班级成员
                                    .col-lg-10.col-md-10
                                        .tagsinput(style="height:auto;border:none !important;background:none!important;")
                                            input#hfdGradeUsers(type="hidden",value="")
                                        select#selectGradeUsers.form-control(name="user")
                                            each user in users
                                                option(value=user._id)
                                                    | #{user.name}
                                        label.mt10
                                            button#addGradeUsers.btn.btn-primary
                                                | 新增班级成员
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 所在位置(选填)
                                    .col-lg-10.col-md-10
                                        input#position.form-control(type="text",name="position",placeholder="请输入详细地址 ...",value=grade.position)
                                .form-group
                                    .col-lg-1.col-md-1
                                        button.btn.btn-default.ml15(type="submit") 保存
                                    .col-lg-11.col-md-11
                                        include ../../includes/notification
block componentScript
    include ../../includes/formScript
block bottom
    script(src="/javascripts/app.js")
    script(src="/assets/js/pages/form-validation.js")
    script.
        setTimeout(function(){
            checkSideNav('班级管理');
            checkGradeUser();
        },0);

