extends ../../layout

block content
    .content-wrapper
        .row
            .col-lg-12.heading
                ul#crumb.breadcrumb
                    li
                        i.im-home
                        a(href="/admin") 首页
                        i.en-arrow-right7
                    li
                        i.im-user4
                        a(href="/admin/school/list") 学校列表
                        i.en-arrow-right7
                    li
                        i.en-user-add
                        a(href="#") #{action}学校
        .outlet
            .row
                .col-lg-12
                    .panel.panel-default.toggle
                        .panel-heading
                            h3.panel-title #{action}学校
                        .panel-body
                            form.form-horizontal.group-border.hover-stripped(role="form",id="validate",method="post",action="/admin/school/new",enctype="multipart/form-data")
                                .form-group
                                    if school&&school._id
                                        input(type="hidden",value=school._id,name="_id")
                                    label.col-lg-2.col-md-2.control-label 学校名称
                                    .col-lg-10.col-md-10
                                        input#name.form-control.required(type="text",placeholder="请输入学校名称...",value=school.name,name="name")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 学校建立者
                                    .col-lg-10.col-md-10
                                        select.form-control.required(name="president")
                                                each pre in presidents
                                                    option(value=pre._id)
                                                        | #{pre.name}
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 颜色
                                    .col-lg-10.col-md-10
                                        input#showPaletteOnly.form-control
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 校标
                                    .col-lg-10.col-md-10
                                        #queue
                                        input#file_upload(name="poster",type="file",multiple="true")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 所在省区县
                                    .col-lg-10.col-md-10#city1
                                        select.prov.form-control.required(name="province")
                                        select.city.form-control.mt15.required(disabled="disabled",name="city")
                                        select.dist.form-control.mt15.required(disabled="disabled",name="country")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 详细地址
                                    .col-lg-10.col-md-10
                                        input#address.form-control.required(type="text",name="address",placeholder="请输入详细地址 ...",value=school.address)
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 学校描述
                                    .col-lg-10.col-md-10
                                        textarea#intro.form-control.required(type="text",name="intro",placeholder="请输入学校描述 ...",value=school.intro)
                                .form-group
                                    .col-lg-1.col-md-1
                                        button.btn.btn-default.ml15(type="submit") 保存
                                    .col-lg-11.col-md-11
                                        include ../../includes/notification
block componentScript
    include ../../includes/formScript
block bottom
    script(src="/assets/plugins/forms/uploadify/jquery.uploadify.min.js")
    link(rel="stylesheet",type="text/css",href="/assets/plugins/forms/uploadify/uploadify.css")
    script(src="/javascripts/app.js")
    script(src="/assets/js/pages/forms.js")
    script(src="/assets/js/pages/form-validation.js")
    script(src="/citylist/js/jquery.cityselect.js")
    script.
        setTimeout(function(){
            checkSideNav('学校管理');
            $("#city1").citySelect({nodata: "none", required: false});
            $('#file_upload').uploadify({
                width: 120,
                height: 30,
                buttonText: '上传图片',
                uploader: '/admin/uploadify',
                swf: '/assets/plugins/forms/uploadify/uploadify.swf',
                onUploadSuccess: function (file,data,response) {
                    alert('The file ' + file + ' finished processing.');
                }
            })

        },0);

