extends ../../layout

block content
    .content-wrapper
        .row
            .col-lg-12.heading
                ul#crumb.breadcrumb
                    li
                        i.im-home
                        a(href="/admin") 首页
                        i.en-arrow-right7
                    li
                        i.im-user4
                        a(href="/admin/school/list") 学校列表
        .outlet
            .row
                .col-lg-12
                    .panel.panel-default.plain.toggle.panelClose.panelRefresh
                        .panel-heading.white-bg
                            h4.panel-title 学校列表
                        .panel-body
                            .row.mb15
                                .col-lg-8.col-md-8
                                    form.form-inline(method="get",role="form",action="/admin/school/list",enctype="multipart/form-data")
                                        .form-group
                                            label(for="user") 校长：
                                            select.form-control(name="user")
                                                option(value="0") 所有校长
                                                each user in users
                                                    option(value="#{user._id}") #{user.name}
                                        .form-group
                                            label(for="name") 学校名称
                                            input.form-control(type="text",placeholder="学校名称",name="name")
                                        button.btn.btn-primary(type="submit") 搜索
                                .col-lg-4.col-md-4
                                    a.btn.btn-default.pull-right(href="/admin/school")
                                        i.br-plus
                                        |     新增学校

                            table#schoolList.table.table-bordered
                                thead
                                    tr
                                        th.per20 学校名称
                                        th.per20 所有者
                                        th.per20 地区
                                        th.per20 建立时间
                                        th.per20 操作
                                tbody
                                    each school in schools
                                        tr(class="item-id-#{school._id}")
                                            td #{school.name}
                                            td #{school.owner.name}
                                            td #{school.province}
                                            td #{moment(school.meta.createAt).format('MM/DD/YYYY')}
                                            td
                                                a.btn.btn-primary(href="/admin/school/#{school._id}") 编辑
                                                | &nbsp;&nbsp;
                                                a.del.btn.btn-danger(href="#",data-id="#{school._id}") 删除
                            include ../../includes/notification
block componentScript
    include ../../includes/table
block bottom
    script(src="/javascripts/app.js")
    script(src="/assets/js/pages/tables.js")
    script.
        setTimeout(function(){
            checkSideNav('学校管理');
        },0);
