extends ../../layout

block content
    .content-wrapper
        .row
            .col-lg-12.heading
                ul#crumb.breadcrumb
                    li
                        i.im-home
                        a(href="/admin") 首页
                        i.en-arrow-right7
                    li
                        i.im-home
                        a(href="/admin/school/select") 选择学校
                        i.en-arrow-right7
        .row
            each sch in schools
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    if sch.color
                        - colormy=sch.color
                    else
                        -colormy='rgb(255,0,0)'
                    .tile-stats.b.brall.mb25(style="background-color:#{colormy};border:none;")
                        if fronturl
                            - var url=fronturl
                        else
                            -var url='/admin'
                        a(href="/admin/school_change?sid=#{sch._id}&redirecturl=#{url}",style="color:#768399")
                            .tile-stats-icon
                                if sch.image
                                    img.user-avatar(src="/#{sch.image}",width="40",height="40",style="border-radius:100%")
                                else
                                    img.user-avatar(src="/images/avata_128.jpg",width="40",height="40",style="border-radius:100%")

                            .tile-stats-content
                                .tile-stats-number.color-white #{sch.name}
                                .tile-stats-text.color-white
                                    if sch.owner
                                        | #{sch.owner.name}
                            .clearfix
            include ../../includes/notification
block componentScript
    include ../../includes/table
block bottom
    script(src="/javascripts/app.js")
    script(src="/assets/js/pages/tables.js")
