extends ../../layout

block content
    .content-wrapper
        .row
            .col-lg-12.heading
                ul#crumb.breadcrumb
                    li
                        i.im-home
                        a(href="/admin") 首页
                        i.en-arrow-right7
                    li
                        i.st-cube
                        a(href="/admin/role/list") 选择学校
                    li
                        i.im-user4
                        a(href="/admin/role/list?sid=#{sid}") 角色列表
                    li
                        i.en-user-add
                        a(href="#") #{action}角色
        .outlet
            .row
                .col-lg-12
                    .panel.panel-default.toggle
                        .panel-heading
                            h3.panel-title #{action}角色
                        .panel-body
                            form.form-horizontal.group-border.hover-stripped(role="form",id="validate",method="post",action="/admin/role/new",enctype="multipart/form-data")
                                .form-group
                                    if role&&role._id
                                        input(type="hidden",value=role._id,name="id")
                                    label.col-lg-2.col-md-2.control-label 角色名
                                    .col-lg-10.col-md-10
                                        input#name.form-control.required(type="text",placeholder="请输入角色名称...",value=role.name,name="name")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 所属学校
                                    .col-lg-10.col-md-10
                                        input#school.form-control(type="text",value=school.name,disabled="disabled")
                                        input#hfdSchool(type="hidden",value=sid,name="sid")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 权重
                                    .col-lg-10.col-md-10
                                        input#weight.form-control.number(type="text",name="weight",min="0",max="999",placeholder="请输入0-999的整数。数值越大，权限越高。",value=role.weight)
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 角色拥有功能
                                    .col-lg-10.col-md-10
                                        each fun in functions
                                            .row.mb5
                                                .col-lg-4.col-md-4
                                                    label.checkbox-inline
                                                        strong
                                                            | #{fun.name}
                                                .col-lg-8.col-md-8
                                                    if fun.actions.create
                                                        - var i=0
                                                        each rolefun in role.functions
                                                            if fun.index===rolefun.index&&rolefun.actions.create
                                                                label.checkbox-inline
                                                                    input(type="checkbox",name="chkCreate_#{fun.index}",checked="checked")
                                                                    | 新增
                                                                - break
                                                            else
                                                                if i===role.functions.length-1
                                                                    label.checkbox-inline
                                                                        input(type="checkbox",name="chkCreate_#{fun.index}")
                                                                        | 新增
                                                            - i=i+1
                                                    if fun.actions.delete
                                                        - var i=0
                                                        each rolefun in role.functions
                                                            if fun.index === rolefun.index && rolefun.actions.delete
                                                                label.checkbox-inline
                                                                    input(type="checkbox",name="chkDelete_#{fun.index}",checked="checked")
                                                                    | 删除
                                                                - break
                                                            else
                                                                if i === role.functions.length-1
                                                                    label.checkbox-inline
                                                                        input(type="checkbox",name="chkDelete_#{fun.index}")
                                                                        | 删除
                                                            - i=i+1
                                                    if fun.actions.show
                                                        - var i=0
                                                        each rolefun in role.functions
                                                            if fun.index === rolefun.index && rolefun.actions.show
                                                                label.checkbox-inline
                                                                    input(type="checkbox",name="chkShow_#{fun.index}",checked="checked")
                                                                    | 显示
                                                                - break
                                                            else
                                                                if i === role.functions.length-1
                                                                    label.checkbox-inline
                                                                        input(type="checkbox",name="chkShow_#{fun.index}")
                                                                        | 显示
                                                            - i=i+1
                                                    if fun.actions.edit
                                                        - var i=0
                                                        each rolefun in role.functions
                                                            if fun.index === rolefun.index && rolefun.actions.edit
                                                                label.checkbox-inline
                                                                    input(type="checkbox",name="chkEdit_#{fun.index}",checked="checked")
                                                                    | 编辑
                                                                - break
                                                            else
                                                                if i === role.functions.length-1
                                                                    label.checkbox-inline
                                                                        input(type="checkbox",name="chkEdit_#{fun.index}")
                                                                        | 编辑
                                                            - i=i+1
                                                    if fun.actions.confirm
                                                        - var i=0
                                                        each rolefun in role.functions
                                                            if fun.index === rolefun.index && rolefun.actions.confirm
                                                                label.checkbox-inline
                                                                    input(type="checkbox",name="chkConfirm_#{fun.index}",checked="checked")
                                                                    | 审核
                                                                - break
                                                            else
                                                                if i === role.functions.length-1
                                                                    label.checkbox-inline
                                                                        input(type="checkbox",name="chkConfirm_#{fun.index}")
                                                                        | 审核
                                                            - i=i+1
                                .form-group
                                    .col-lg-1.col-md-1
                                        button.btn.btn-default.ml15(type="submit") 保存
                                    .col-lg-11.col-md-11
                                        include ../../includes/notification
block componentScript
    include ../../includes/formScript
block bottom
    script(src="/javascripts/app.js")
    script(src="/assets/js/pages/form-validation.js")
    script.
        setTimeout(function(){
            checkSideNav('管理员');
        },0);
