extends ../../layout

block content
    .content-wrapper
        .row
            .col-lg-12.heading
                ul#crumb.breadcrumb
                    li
                        i.im-home
                        a(href="/admin") 首页
                        i.en-arrow-right7
                    li
                        i.im-home
                        a(href="/admin/role/list") 选择学校
                        i.en-arrow-right7
                    if sid
                        li
                            i.im-user4
                            a(href="/admin/role/list?sid=#{sid}") 角色列表
        .outlet
            .row
                .col-lg-12
                    .panel.panel-default.plain.toggle.panelClose.panelRefresh
                        .panel-heading.white-bg
                            h4.panel-title #{school.name}的角色列表
                        .panel-body
                            .row.mb15
                                .col-lg-8.col-md-8
                                .col-lg-4.col-md-4
                                    a.btn.btn-default.pull-right(href="/admin/role?sid=#{school._id}")
                                        i.br-plus
                                        | 新增角色

                            table#roleList.table.table-bordered
                                thead
                                    tr
                                        th.per20 角色名称
                                        th.per20 所属学校
                                        th.per20 建立时间
                                        th.per20 操作
                                tbody
                                    each role in roles
                                        tr(class="item-id-#{role._id}")
                                            td #{role.name}
                                            td #{role.school.name}
                                            td #{moment(role.meta.createAt).format('MM/DD/YYYY')}
                                            td
                                                a.btn.btn-primary(href="/admin/role?id=#{role._id}&sid=#{school._id}") 编辑权限
                                                | &nbsp;&nbsp;
                                                a.del.btn.btn-danger(href="#",data-id="#{role._id}") 删除
                            include ../../includes/notification
block componentScript
    include ../../includes/table
block bottom
    script(src="/javascripts/app.js")
    script(src="/assets/js/pages/tables.js")
    script.
        setTimeout(function(){
            checkSideNav('角色管理');
        },0);
