extends ../../layout

block content
    .content-wrapper
        .row
            .col-lg-12.heading
                ul#crumb.breadcrumb
                    li
                        i.im-home
                        a(href="/admin") 首页
                        i.en-arrow-right7
                    li
                        i.im-user4
                        a(href="/admin/student/list") 选择学校
                    if sid
                        li
                            i.im-user4
                            a(href="/admin/student/list?sid=#{sid}") 学生列表
        if school
            .outlet
                .row
                    .col-lg-12
                        .panel.panel-default.plain.toggle.panelClose.panelRefresh
                            .panel-heading.white-bg
                                h4.panel-title 学生列表
                            .panel-body
                                .row.mb15
                                    .col-lg-8.col-md-8
                                        form.form-inline(method="get",role="form",action="/admin/student/new",enctype="multipart/form-data")
                                            .form-group
                                                label(for="name") 学生姓名
                                                input.form-control(type="text",placeholder="学生名称",name="name")
                                            button.btn.btn-primary(type="submit") 搜索
                                    .col-lg-4.col-md-4
                                        a.btn.btn-default.pull-right(href="/admin/student?sid=#{sid}")
                                            i.br-plus
                                            |     新增学生

                                table#studentList.table.table-bordered
                                    thead
                                        tr
                                            th.per10 照片
                                            th.per10 学生姓名
                                            th.per10 家长
                                            th.per15 所在学校
                                            th.per15 所在班级
                                            th.per10 性别
                                            th.per10 年龄
                                            th.per20 操作
                                    tbody
                                        each student in students
                                            tr(class="item-id-#{student._id}")
                                                td
                                                    if student.image
                                                        img#image(width="60",height="60",src='/' + student.image)
                                                    else
                                                        img#image(width="60",height="60",src='/images/avata_128.jpg')
                                                td #{student.name}
                                                td #{student.parent.name}
                                                td #{student.school.name}
                                                td #{student.grade.name}
                                                td
                                                    if student.sex==='1'
                                                        | 男
                                                    else
                                                        | 女
                                                td #{student.age}
                                                td
                                                    a.btn.btn-primary(href="/admin/student/#{student._id}?sid=#{school._id}") 编辑
                                                    | &nbsp;&nbsp;
                                                    a.del.btn.btn-danger(href="#",data-id="#{student._id}") 删除
                                include ../../includes/notification
        else
            .row
                if schools
                    each sch in schools
                        .col-lg-3.col-md-3.col-sm-6.col-xs-12
                            .tile-stats.b.brall.mb25.teal-bg
                                a(href="/admin/student/list?sid=#{sch._id}")
                                    .tile-stats-icon
                                        .st-cube.color-white.s48
                                    .tile-stats-content
                                        .tile-stats-number.color-white #{sch.name}
                                        .tile-stats-text.color-white #{sch.owner.name}
                                    .clearfix

block componentScript
    include ../../includes/table
block bottom
    script(src="/javascripts/app.js")
    script(src="/assets/js/pages/tables.js")
    script.
        setTimeout(function(){
            checkSideNav('学生管理');
        },0);
