doctype html
html(lang="zh_CN")
    head
        meta(charset="utf-8")
        title= title
        meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1")
        <!-- Force IE9 to render in normal mode -->
        <!--[if IE]>
        meta(http-equiv="x-ua-compatible",content="IE=9")
        <![endif]-->
        meta(name="author",content="liumeng")
        meta(name="application-name",content="SFProject")
    body
        input#getui
        button
            | 发送


        | Incoming Chat:&nbsp;
        | 用户列表：
        ul#userlist
        ul#incomingChatMessages
        input#outgoingChatMessage(type="text")

        script(src="/assets/js/libs/jquery-2.1.1.min.js")
        script(src="/javascripts/socket.io.js")
        script.
            $(function () {
                var iosocket = io.connect('http://localhost:3000');

                iosocket.emit('login', {
                    username: '#{from}'
                });

                iosocket.on('connect', function () {
                    $('#incomingChatMessages').append($('<li>Connected</li>'));

                    iosocket.on('message', function (message) {
                        $('#incomingChatMessages').append($('<li></li>').text(message.username+'说：'+message.content));
                    });

                    iosocket.on('login', function (message) {
                        $('#userlist').append($('<li></li>').text(message.onlineCount));

                    });

                    iosocket.on('to#{from}', function (message) {
                        $('#incomingChatMessages').append($('<li></li>').text(message.from+'对你说：'+message.mess));

                    });

                    iosocket.on('broadcast_join',function(data){
                        console.log(data.username + '加入了聊天室');
                    });

                    iosocket.on('disconnect', function () {
                        $('#incomingChatMessages').append('<li>Disconnected</li>');
                    });
                });

                $('#outgoingChatMessage').keypress(function (event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        //iosocket.send({username:'heheh',content:$('#outgoingChatMessage').val()});
                        iosocket.emit('private message','#{from}','#{to}',$('#outgoingChatMessage').val());

                        $('#incomingChatMessages').append($('<li></li>').text('我说：'+$('#outgoingChatMessage').val()));
                        $('#outgoingChatMessage').val('');
                    }
                });
            })