extends ../../layout

block content
    .content-wrapper
        .row
            .col-lg-12.heading
                ul#crumb.breadcrumb
                    li
                        i.im-home
                        a(href="/admin") 首页
                        i.en-arrow-right7
                    li
                        i.im-user4
                        a(href="/admin/admin/list") 网站管理员列表
        .outlet
            .row
                .col-lg-12
                    .panel.panel-default.plain.toggle.panelClose.panelRefresh
                        .panel-heading.white-bg
                            h4.panel-title 管理员列表
                        .panel-body
                            .row.mb15
                                .col-lg-12
                                    a.btn.btn-primary(href="/admin/admin") 新增管理员
                            table#adminUserList.table.table-bordered
                                thead
                                    tr
                                        th.per25 用户名
                                        th.per25 电话
                                        th.per25 建立时间
                                        th.per25 操作
                                tbody
                                    each admin_user in admin_users
                                        tr(class="item-id-#{admin_user._id}")
                                            td #{admin_user.name}
                                            td #{admin_user.phone}
                                            td #{moment(admin_user.meta.createAt).format('MM/DD/YYYY')}
                                            td
                                                a.btn.btn-primary(href="/admin/admin?id=#{admin_user._id}") 编辑
                                                | &nbsp;&nbsp;
                                                if admin_user.name!='liumeng' && admin_user.name!='admin'
                                                    a.del.btn.btn-danger(href="#",data-id="#{admin_user._id}") 删除
                            include ../../includes/notification
block componentScript
    include ../../includes/table
block bottom
    script(src="/javascripts/app.js")
    script(src="/assets/js/pages/tables.js")
    script.
        setTimeout(function(){
            checkSideNav('管理员列表');
        },0);
