extends ../../layout

block content
    .content-wrapper
        .row
            .col-lg-12.heading
                ul#crumb.breadcrumb
                    li
                        i.im-home
                        a(href="/admin") 首页
                        i.en-arrow-right7
                    li
                        i.im-user4
                        a(href="/admin/user/list") 用户列表
                    li
                        i.en-user-add
                        a(href="#") #{action}用户
        .outlet
            .row
                .col-lg-12
                    .panel.panel-default.toggle
                        .panel-heading
                            h3.panel-title #{action}用户
                        .panel-body
                            form.form-horizontal.group-border.hover-stripped(role="form",id="validate",method="post",action="/admin/user/new",enctype="multipart/form-data")
                                .form-group
                                    if role&&role._id
                                        input(type="hidden",value="#{user._id}",name="_id")
                                    label.col-lg-2.col-md-2.control-label 用户名
                                    .col-lg-10.col-md-10
                                        input#name.form-control.required(type="text",placeholder="请输入用户名称...",value=user.name,name="name")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 昵称
                                    .col-lg-10.col-md-10
                                        input#nickname.form-control(type="text",placeholder="请输入用户名称...",value=user.nickname,name="nickname")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 密码
                                    .col-lg-10.col-md-10
                                        input#password.form-control(type="password",name="password",placeholder="输入密码...",value=user.password)
                                        input#confirm_password.form-control.mt15(type="password",name="confirm_password",placeholder="确认密码...")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 成为学校工作人员
                                    .col-lg-10.col-md-10
                                        input#isParent.switch.noStyle(name="isWorker",type="checkbox")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 电话
                                    .col-lg-10.col-md-10
                                        input#phone.form-control.required.phone(type="text",placeholder="请输入电话 ...",value=user.phone,name="phone")
                                .form-group
                                    label.col-lg-2.col-md-2.control-label 电子邮箱
                                    .col-lg-10.col-md-10
                                        input#email.form-control.required.email(type="text",placeholder="请输入电子邮箱 ...",value=user.email,name="email")
                                .form-group
                                    .col-lg-1.col-md-1
                                        button.btn.btn-default.ml15(type="submit") 保存
                                    .col-lg-11.col-md-11
                                        include ../../includes/notification
block componentScript
    include ../../includes/formScript
block bottom
    script(src="/javascripts/app.js")
    script(src="/assets/js/pages/form-validation.js")
    script(src="/assets/js/pages/forms.js")
    script.
        setTimeout(function(){
            checkSideNav('一般用户管理');
        },0);
